<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

</head>
  <body>
    <div id="app" />
    index.html
    <script src="build/bundle.js"></script>
    <!-- 因为html是在浏览器运行的，所以其路径不是文件相对路径，而是http://xxx/这样的路径 -->
  </body>
</html>
